<div class="task">
    <h3>Task </h3>
    <div class="instructions">
      <div class="instruction__title">Instructions:</div>
      <ol>
        <li>
          <input type="checkbox" class="instruction__checkbox"/> 
          <label>Complete work</label>
        </li>
      </ol>
    </div>
    <div class="comments">
      <div class="comment__title">Comments:</div>
      <ul class="comment__list">
        <li class="comment__list-item" *ngFor="let comment of comments" [innerHTML]="formatComment(comment)">
          </li>
      </ul>
    </div>
    <div class="comment__new"> 
      <div class="dropdown">
      <textarea 
        placeholder="Make a new comment"
        name="new-comment" 
        class="comment__new-textarea" 
        [(ngModel)]="newComment" 
        (ngModelChange)="setUpdateComment($event)"
        #textarea>
      </textarea> 
      <div class="dropdown-content" *ngIf="showUserDropdown">
        <ul >
          <li *ngFor="let user of users" (click)="onSelect(user)">{{user.name}}</li>
        </ul>
      </div>
    </div>
    </div>
    <button class="button" (click)="onSubmit()">Submit</button>
  </div>
