<div class="app">
  <h1>Task Page </h1>
    <div class="comments">
      <h2>Comments</h2>
      <ul class="comment__list">
        <li *ngFor="let comment of comments" [innerHTML]="formatComment(comment)">
          </li>
      </ul>
    </div>
    <div class="comment__new"> 
      <h3>Add New Comment</h3>
      <div class="dropdown">
      <textarea 
        name="new-comment" 
        class="comment__new-textarea" 
        [(ngModel)]="newComment" 
        (ngModelChange)="setUpdateComment($event)"
        #textarea>
      </textarea> 
      <div class="dropdown-content">
        <ul *ngIf="showUserDropdown">
          <li *ngFor="let user of users" (click)="onSelect(user)">{{user.name}}</li>
        </ul>
      </div>
    </div>
    </div>
    <button (click)="onSubmit()">Submit</button>
</div>
